<script type="text/javascript" src="/public/js/redux/store.js"></script>
<div class="jasmine_html-reporter"></div>
<script type="text/javascript">
        <%- include("test.js") -%>
</script>
<div class="jasmine-testground" >
    <div id = "addStudent"></div>
    <div id = "showStudents"></div>
</div>
