<script type="text/javascript">
    const runTest = function(){
        function randEle(){
            const possibleLetters="ABCDEFGHIJKLMNOPQRSTUVWXYZbcdefghijklmnopqrstuvwxyz+_)(*&^%$#@!~"
            return {letter: possibleLetters[Math.floor(Math.random()*64)], number: Math.ceil(Math.random()*100)}
        }

        describe( 'Sum all the values of an array',  ()=>{
            it('sumAll should be defined and it should be a function', () => {
                expect(window.sumAll).toBeDefined()
                expect(typeof window.sumAll).toEqual("function")
            })

            it('sumAll should take exactly one argument', () => {
                expect(window.sumAll.length).toEqual(1)
            })

            it('sumAll should return something', () => {
                const {number, letter} = randEle()
                expect(window.sumAll({a: 1, b: 2})).not.toBeUndefined()
            })

            it('sumAll should return 0 for empty object or no object passed', () => {
                expect(window.sumAll({})).toEqual(0)
                expect(window.sumAll()).toEqual(0)
            })

            it('sumAll add a property to the object', () => {
                const num1    = randEle().number
                const letter1 = randEle().letter

                const num2    = randEle().number
                const letter2 = randEle().letter

                const num3    = randEle().number
                const letter3 = randEle().letter

                let obj = {[letter1]: num1, [letter2]: num2, [letter3]: num3}
                expect(window.sumAll(obj)).toEqual(num1 + num2 + num3)

            })

        })
    }

    runTest()

</script>

<div class="jasmine_html-reporter"></div>