<script type="text/javascript" src="<%= view.solution %>.js"></script>
<script type="text/javascript">
const runTest = function(){
    var schema = []
    var DB
    window.schema = []
    describe( 'Schema should:',  ()=>{
        beforeEach(()=>{
            DB = window.DB = []
        })
        it('only at the keys of the object that are defined in the schema', () => {
            window.schema = ["id", "name", "age"]
            model("add", {id: 1, name: "pedro", age: 32, address: "Rue de la Science 23, Brussels"})
            expect( DB[0] ).toEqual({id: 1, name: "pedro", age: 32})
        })

        it('show be able to add more than one record', () => {
            window.schema = ["id", "country", "address"]
            model("add", {id: 2, country: "pedro Land", age: 32, address: "Rue de la Science 23, Brussels"})
            model("add", {id: 1, country: "pedro Land", age: 32, address: "Rue de la Science 23, Brussels"})
            expect( DB[0] ).toEqual({id: 2, country: "pedro Land", address: "Rue de la Science 23, Brussels"})
            expect( DB[1] ).toEqual({id: 1, country: "pedro Land", address: "Rue de la Science 23, Brussels"})
        })

        it('it should not add anything if the schema is empty', () => {
            window.schema = []
            model("add", {a: 1, b: 2, c: 2, d: 3})
            expect( DB[0] ).toEqual({})
        })

        it('it should not add key that are not in the Schema', () => {
            window.schema = ["Location", "tel", "reference Name"]
            model("add", {Location: "pedro city", position: "developer", pay: "alot"})
            expect( DB[0] ).toEqual({Location: "pedro city"})
        })


    })
}

runTest()

</script>

<div class="jasmine_html-reporter"></div>