<!-- style="display: none" -->

<div class="jasmine_html-reporter"></div>
<script type="text/javascript">
    const runTest = function(beforeTest){
        readMessage.runEval = eval
        beforeTest()
        describe( 'HelloWorld Component should:',  ()=>{

            beforeAll(()=>{
            })

            it(`render a hello world message`, () => {
                expect(helloWorld().props.children.join("").trim().toLowerCase()).toEqual("hello world")
            })

        })
    }

    var asyncTest = function(response) {
        JasmineBoot();
        response.data = "JS\n" + response.data;
        runTest(() => readMessage(response))
        exercuteTest()
    }

    window.runTheTest = function() {
        axios.get("<%= view.solution %>.js")
            .then(asyncTest)
    }

    runTheTest()

</script>
<div class="jasmine-testground" ></div>
