<script type="text/javascript" src="<%= view.solution %>.js"></script>
<script type="text/javascript">
const runTest = function(){
    describe( 'findLi should:',  ()=>{
    var findLi = window.findLi
        beforeEach(() => {
            var testGround = $(".jasmine-testground")
            testGround.append(`
                <div id = "exerciseTest" style="display:none">
                    <ul>
                        <li name="color"  value="Red">Sun</li>
                        <span>  Sea</span>
                        <li value="Cold Fusion">Sand</li>
                        <li name="accept"  value="Evil Plans">Hill</li>
                        <span>  Dale</span>
                    </ul>
                        <button id="button1">Click to see the effect</button>
                </div>
            `)
        })

        it('append a tag to the element after all li with without attribute name and value "color" ', () => {
            findLi()
            var testDiv = $("#exerciseTest")
            testDiv.find("li[name!='color']").each(function(i, ele){
                var span = $(ele).next()
                expect(span.is("span")).toEqual(true)
                expect(span.text().trim()).toEqual("with no color")
            })
            
        })


    })
}

runTest()

</script>

<div class="jasmine_html-reporter"></div>
<div class="jasmine-testground" >
</div>