<script type="text/javascript" src="/public/js/react/redux.js"></script>
<script type="text/javascript" src="/public/js/redux/store.js"></script>
<script type="text/javascript" src="/public/js/react/bootstrap.js"></script>

<script type="text/babel">
    <%- include("test.js") -%>
</script>
<!-- style="display: none" -->
<div class="jasmine_html-reporter"></div>

<div class="jasmine-testground" >
    <div id="yourSolution"> </div>
</div>