<!-- style="display: none" -->
<!-- <script type="text/javascript" src="/public/js/enzyme_jasmineenzyme.js"></script> -->
<div class="jasmine_html-reporter"></div>
<script type="text/javascript">
    const runTest = function(beforeTest){
        readMessage.runEval = eval
        beforeTest()
        describe( 'Profiles components should:',  ()=>{

            it(`render the given text for the Name component`, () => {
                let rendered = Name()
                let type =  rendered.type
                expect(type).toEqual("div")
                let message =  rendered.props.children.join("").trim().toLowerCase()
                expect(message).toEqual("name: pedro")
            })


            it(`render the given text for the Address component`, () => {
                let rendered = Address()
                let type =  rendered.type
                expect(type).toEqual("div")
                let message =  rendered.props.children.join("").trim().toLowerCase()
                expect(message).toEqual("address: pedrostraat 21, 3000 pedroland")
            })

            it(`render the given text for the Email component`, () => {
                let rendered = Email()
                let type =  rendered.type
                expect(type).toEqual("div")
                let message =  rendered.props.children.join("").trim().toLowerCase()
                expect(message).toEqual("email: pedro@pedro.pedro")
            })

            it(`For the Profile component be able to render other children components`, () => {
                let name = Name()
                let address = Email()
                let email = Address()

                let rendered = Profile({children: [name, address, email]})
                let type =  rendered.type
                expect(type).toEqual("div")
                let message =  rendered.props.children.map(ele => ele.props.children.join("").trim().toLowerCase()).join("; ")
                expect(message).toEqual("name: pedro; email: pedro@pedro.pedro; address: pedrostraat 21, 3000 pedroland")
            })
        })
    }

    var asyncTest = function(response) {
        JasmineBoot();
        response.data = "JS\n" + response.data;
        runTest(() => readMessage(response))
        exercuteTest()
    }

    window.runTheTest = function() {
        axios.get("<%= view.solution %>.js")
            .then(asyncTest)
    }

    runTheTest()

</script>
<div class="jasmine-testground" ></div>
