<script type="text/javascript" src="<%= view.solution %>.js"></script>
<script type="text/javascript">
const runTest = function(){
    var uniq = window.uniq
    describe( 'Uniq shuold:',  ()=>{
        it('only return an array with unique elements', () => {
            expect(uniq([1,1,1,2,2,4,6,3,4,7,4,2])).toEqual([ 1, 2, 4, 6, 3, 7 ])
            expect(uniq([5,6,4,2,4,6,8,5,3,2])).toEqual([ 5, 6, 4, 2, 8, 3 ])
            expect(uniq(["1", "b", 'c', 1,2,3,4])).toEqual([ '1', 'b', 'c', 1, 2, 3, 4 ])

        })

    })
}

runTest()

</script>

<div class="jasmine_html-reporter"></div>