<script type="text/javascript">
    const runTest = function(){
        describe( 'HelloWorld App should:',  ()=>{
            var languages = {
                NL: 'Hallo Wereld',
                HI: 'नमस्ते दुनिया',
                FR: 'Bonjour le monde',
                ES: 'Hola Mundo',
                IT: 'Ciao Mondo',
                CH: '你好，世界',
                JP: 'こんにちは世界',
                AR: 'مرحبا بالعالم',
                EN: 'Hello world'
            }

            var newLanguages = {
                DE: "Hallo_Welt",
                RO: "Salut_Lume",
                PT: "Bună ziua lume"
            }

            var fakeLanguages = ["asdf", "xcvb", "qwer"]
            Object.keys(languages).map(function (key) {
                it(`it should return ${languages[key]} if url is /${key}`, (done) => {
                    axios("/proxy/" + key).then(res => {
                        expect(res.data).toEqual(languages[key])
                        done()
                    })
                })
            })

            it('it should have a root that sends all the languages in a javascript object', (done) => {
                var langs
                axios("/proxy").then(res => {
                    for (langs in languages){
                        expect(res.data[langs]).toEqual(languages[langs])
                    }
                    done()
                })
            })


            fakeLanguages.map( function(val) {
                it(`it should return a message if the language (${val}) do not have a translation`, (done) => {
                    axios("/proxy/" + val).then(res => {
                        expect(res.data).toEqual(`Hello World in ${val} not found`)
                        done()
                    })
                })
            })

             Object.keys(newLanguages).map(function (key) {
                it(`it should return a message if the language (${key}) is added`, (done) => {
                    axios("/proxy/" + key + "/" + newLanguages[key]).then(res => {
                        console.log(key, newLanguages[key])
                        expect(res.data).toEqual(`${key} added with message "${newLanguages[key].replace("_", " ")}"`)
                        done()
                    })
                })
            })

        })
    }

    runTest()

</script>
<!-- style="display: none" -->
<div class="jasmine_html-reporter"></div>

<div class="jasmine-testground" >
</div>