<script type="text/javascript">
const runTest = function(){
    function randEle(){
        const possibleLetters="ABCDEFGHIJKLMNOPQRSTUVWXYZbcdefghijklmnopqrstuvwxyz+_)(*&^%$#@!~"
        return {letter: possibleLetters[Math.floor(Math.random()*64)], number: Math.ceil(Math.random()*100)}
    }
    describe( 'Default Arguments',  ()=>{
        it('defaulted function should be defined', () => {
            expect(window.defaulted).toBeDefined()
            expect(typeof window.defaulted).toEqual("function")
        })

        it('defaulted should take up to one argument', () => {
            expect(window.defaulted.length).toEqual(1)
        })

        it('defaulted should return \""no argument passed" \" if no argument is passed', () => {
            expect(window.defaulted()).toEqual("no argument passed")
        })

        it('defaulted should return the argument passed', () => {
            var number = randEle().number
            expect(window.defaulted(number)).toEqual(number)
        })

    })
}

runTest()
</script>

<div class="jasmine_html-reporter"></div>